# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# Database Backups
backups/
*.sql
!schema.sql

# Build
dist/
build/